In [64]:
import pandas as pd
import os
import json

In [65]:
folder_path = "./CAG1"

os.makedirs(folder_path, exist_ok=True)

In [66]:
dataLink = "../data/CAG1/cag1_link.csv"
dataNode = "../data/CAG1/cag1_node.csv"

In [67]:
df_link = pd.DataFrame(pd.read_csv(dataLink))
df_node = pd.DataFrame( pd.read_csv(dataNode))

In [68]:
df_link

,relation,source,target
0,r_subdomain,Domain_a2d2208c5348b93e3ddc90439ae6c7eda49cde8...,Domain_e5e34ad079fa8e284b47409407dde50949da066...
1,r_dns_a,Domain_a2d2208c5348b93e3ddc90439ae6c7eda49cde8...,IP_86d674eeb343174e4539a238082511242e11acee691...
2,r_whois_name,Domain_a2d2208c5348b93e3ddc90439ae6c7eda49cde8...,Whois_Name_db0925a5aeb1849fa7b41f7a29c1192d38e...
3,r_whois_email,Domain_a2d2208c5348b93e3ddc90439ae6c7eda49cde8...,Whois_Email_5a3d16b7df3d815d5f3436bd5dd5c5e105...
4,r_whois_phone,Domain_a2d2208c5348b93e3ddc90439ae6c7eda49cde8...,Whois_Phone_f6974ce3fa84ae76d75b9211f3162155db...
...,...,...,...
612,r_dns_a,Domain_930aa20043c31bd53df0a31def8f95362fcc739...,IP_8622745ba09b1b4e2c35376be2ea00903272e3be2bd...
613,r_dns_a,Domain_58b57e01b4632bcd9b9cc78e6a211421ce57f5c...,IP_49498de69b8b1579620c5b0a5b21be26738f1d68ae8...
614,r_dns_a,Domain_3381440f1182dc46a1f26736c39a9e755400f2c...,IP_5e9c7c67ebe8d16a7c644fa530f5378163399d0a5a0...
615,r_dns_a,Domain_befe5e247a2811d4e4e44ec2b7f44fc59a79088...,IP_491066052bb94b81de9b4805453488fe2fc4bcf04de...
616,r_dns_a,Domain_a5ac5bce90bba59b4fbd685fcf4cdfd54112a34...,IP_3eaf1cbaab0043a5151adedc742273cc842aaf9da7f...

In [69]:
df_node

                                                    id
0    Domain_a2d2208c5348b93e3ddc90439ae6c7eda49cde8...
1    IP_86d674eeb343174e4539a238082511242e11acee691...
2    Domain_e5e34ad079fa8e284b47409407dde50949da066...
3    Whois_Name_db0925a5aeb1849fa7b41f7a29c1192d38e...
4    Whois_Email_5a3d16b7df3d815d5f3436bd5dd5c5e105...
..                                                 ...
363  IP_3eaf1cbaab0043a5151adedc742273cc842aaf9da7f...
364  Domain_84b6c7a094af19be32e19ea5b0ae8344b36c00e...
365  Domain_adc7c22d5f6b13e36b3b7545267be676bd8707d...
366  Domain_01bfe5b664a8772ae252c154f8bba5c3b4724db...
367  Domain_0593f12a48b5ad25bbfd65b936ecb20d772a23e...

[368 rows x 1 columns]

In [70]:
df_node['attribute'] = df_node['id'].str.rsplit('_',n=1).str.get(0)

In [75]:
df_link['relation'].unique()

array(['r_subdomain', 'r_dns_a', 'r_whois_name', 'r_whois_email',
       'r_whois_phone', 'r_cidr', 'r_asn', 'r_dns_cname', 'r_cert',
       'r_request_jump', 'r_cert_chain'], dtype=object)

In [76]:
# data_node = {
#     "nodes": df_node.to_dict(orient="records")
# }
# data_link = {
#     "links": df_link.to_dict(orient="records")
# }

# # Merge the dictionaries
# data_node.update(data_link)

# # Convert the dictionary to JSON
# json_data = json.dumps(data_node)

# # Write the JSON data to a file
# with open(folder_path + "/CAG1_D3.json", "w") as file:
#     file.write(json_data)