In [162]:
import pandas as pd
import json
import re

In [163]:
dataNode = pd.read_csv('../_data/Node.csv')                       
dataLink = pd.read_csv('../_data/Link.csv')

In [164]:
def remove_symbols(text):
   pattern = r'[^a-zA-Z0-9]'
   return re.sub(pattern, '', text).lower()

In [297]:
GLOBALROOT = 'CAG1'

In [298]:
CAGNode = pd.read_csv(f'../_data/{GLOBALROOT}/{remove_symbols(GLOBALROOT)}_node.csv') 
CAGLink = pd.read_csv(f'../_data/{GLOBALROOT}/{remove_symbols(GLOBALROOT)}_link.csv')

In [299]:
dataLink.head(5)

,relation,source,target
0,r_subdomain,Domain_34a6231f101fdfa2b051beaa4b94d463fe5f9f4...,Domain_5052db3f33d5337ab631025f7d5de3c5ac559ed...
1,r_dns_a,Domain_34a6231f101fdfa2b051beaa4b94d463fe5f9f4...,IP_37f7ed5739b43757ff23c712ae4d60d16615c59c081...
2,r_cert,Domain_34a6231f101fdfa2b051beaa4b94d463fe5f9f4...,Cert_9ace6aae20e3ac6d9ebfae8938b91112460b27ad2...
3,r_dns_a,Domain_5052db3f33d5337ab631025f7d5de3c5ac559ed...,IP_37f7ed5739b43757ff23c712ae4d60d16615c59c081...
4,r_dns_a,Domain_32b4d5d93789d5436fe729499c7b4d311742797...,IP_37f7ed5739b43757ff23c712ae4d60d16615c59c081...

In [300]:
dataNode.head(5)

,id,name,type,industry
0,Domain_34a6231f101fdfa2b051beaa4b94d463fe5f9f4...,34a6231f10.com,Domain,"['C', 'E', 'A', 'B']"
1,Domain_5052db3f33d5337ab631025f7d5de3c5ac559ed...,5052db3f33.com,Domain,"['C', 'E', 'A', 'B']"
2,IP_37f7ed5739b43757ff23c712ae4d60d16615c59c081...,5.180.xxx.xxx,IP,[]
3,Cert_9ace6aae20e3ac6d9ebfae8938b91112460b27ad2...,9ace6aae20,Cert,[]
4,Domain_32b4d5d93789d5436fe729499c7b4d311742797...,32b4d5d937.com,Domain,"['C', 'E', 'A', 'B']"

In [301]:
CAGNode.head(5)

                                                  id
0  Domain_a2d2208c5348b93e3ddc90439ae6c7eda49cde8...
1  IP_86d674eeb343174e4539a238082511242e11acee691...
2  Domain_e5e34ad079fa8e284b47409407dde50949da066...
3  Whois_Name_db0925a5aeb1849fa7b41f7a29c1192d38e...
4  Whois_Email_5a3d16b7df3d815d5f3436bd5dd5c5e105...

In [302]:
CAGLink.head(5)

,relation,source,target
0,r_subdomain,Domain_a2d2208c5348b93e3ddc90439ae6c7eda49cde8...,Domain_e5e34ad079fa8e284b47409407dde50949da066...
1,r_dns_a,Domain_a2d2208c5348b93e3ddc90439ae6c7eda49cde8...,IP_86d674eeb343174e4539a238082511242e11acee691...
2,r_whois_name,Domain_a2d2208c5348b93e3ddc90439ae6c7eda49cde8...,Whois_Name_db0925a5aeb1849fa7b41f7a29c1192d38e...
3,r_whois_email,Domain_a2d2208c5348b93e3ddc90439ae6c7eda49cde8...,Whois_Email_5a3d16b7df3d815d5f3436bd5dd5c5e105...
4,r_whois_phone,Domain_a2d2208c5348b93e3ddc90439ae6c7eda49cde8...,Whois_Phone_f6974ce3fa84ae76d75b9211f3162155db...

In [303]:
CAGNode = CAGNode.merge(dataNode[['id', 'name', 'type', 'industry']], on='id', how='left')

In [304]:
CAGNode

,id,name,type,industry
0,Domain_a2d2208c5348b93e3ddc90439ae6c7eda49cde8...,a2d2208c53.com,Domain,[]
1,IP_86d674eeb343174e4539a238082511242e11acee691...,107.151.xxx.xxx,IP,[]
2,Domain_e5e34ad079fa8e284b47409407dde50949da066...,e5e34ad079.com,Domain,['A']
3,Whois_Name_db0925a5aeb1849fa7b41f7a29c1192d38e...,Linxxxxx Xu,Whois_Name,[]
4,Whois_Email_5a3d16b7df3d815d5f3436bd5dd5c5e105...,54498xxxxx@xxx.xxx,Whois_Email,[]
...,...,...,...,...
363,IP_3eaf1cbaab0043a5151adedc742273cc842aaf9da7f...,210.209.xxx.xxx,IP,[]
364,Domain_84b6c7a094af19be32e19ea5b0ae8344b36c00e...,84b6c7a094.com,Domain,[]
365,Domain_adc7c22d5f6b13e36b3b7545267be676bd8707d...,adc7c22d5f.com,Domain,[]
366,Domain_01bfe5b664a8772ae252c154f8bba5c3b4724db...,01bfe5b664.com,Domain,[]
367,Domain_0593f12a48b5ad25bbfd65b936ecb20d772a23e...,0593f12a48.com,Domain,['B']

In [305]:
node_type_counts = CAGNode['type'].value_counts().reset_index()
node_type_counts.columns = ['name', 'value']
nodesTypeCounts = node_type_counts.to_dict(orient='records')

In [306]:
nodes_counts = CAGNode.shape[0]
links_counts = CAGLink.shape[0]

In [307]:
links_counts

617

In [308]:
file_path = f'./{GLOBALROOT}/{GLOBALROOT}_mianInfo.json'

with open(file_path, 'w') as f:
   json.dump({"nodesCounts":nodes_counts,
              "linksCounts":links_counts,
              "nodesTypeCounts":nodesTypeCounts}, f, indent=3)